
img {
  width: 10%;
}

#container {
  padding: 2%;
  background-color: #003087;
}

#flex-container {
  display: flex;
  padding: 3%;
  justify-content: center;
}

#flex-left {
  margin-left: 2%;
  width: 33%;
}

#flex-right {
  margin-left: 2%;
  width: 33%;
}


h1, h3 {
  margin: "fit-content";
  color: white;
}

input {
  margin: "fit-content";
  color: black;
}

#result-box {
  display: flex;
  justify-content: center;
  
}

#sfText, #certificateText {
  border-style: dashed;
  border-radius: 1%;
  background-color: rgb(230, 230, 230);
  padding: 2%;
  width: 33%;
  margin-right: 1%;
}
