
img {
  width: 10%;
}

#container {
  padding: 2%;
  background-color: #003087;
}

#flex-container {
  display: flex;
  padding: 3%;
  align-items: center;
}

input,
h1, h3 {
  margin: "fit-content";
  color: white;
}

#sfText {
  border-style: dashed;
  border-radius: 1%;
  background-color: rgb(230, 230, 230);
  padding: 2%;
}
